<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="blazen, Blazen">
    <meta name="description" content="Blazen - cloud-based site for storing files!!!">
    <meta name="author" content="Dima Blahodatny">

    <link rel="icon" href="../../../../../client/images/blazen.ico">

    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Open+Sans"
    >
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
    >
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Berkshire+Swash"
    >
    <link rel="stylesheet" href="../../../../../client/css/floating-labels.css">
    <link rel="stylesheet" href="../../../../../client/css/white-box.css">
    <link rel="stylesheet" href="../../../../../client/css/app.css">

    <title>Log In</title>
</head>
<body class="page">
<div class="white-box">
    <div id="form-input"></div>
</div>
<script src="logIn.js"></script>
</body>
</html>