body {
    font-family: 'Open Sans', sans-serif;
}

ul > .nav-item {
    font-size: 150%;
    padding-left: 25px;
}

.navbar {
    -webkit-transition: all 2s;
    transition: all 2s;
}

img {
    width: 252px;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

img:hover {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    width: 270px;
}

.cbp-af-header-shrink {
    padding-top: 2px;
    padding-bottom: 2px;
    opacity: 0.9;
}

.cbp-af-header-shrink img {
    width: 200px;
    padding-left: 8px;
}

ul .btn {
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 767px) {
    .nav-item {
        margin-top: 10px;
    }

    .btn {
        margin-top: 10px;
    }
}

.tree-item {
    border-bottom: 1px solid grey;
    position: relative;
    padding-left: 10px;
    font-size: 15px;
}

.file-node {
    font-size: 15px;
    color: black;
    cursor: pointer;
}

.file-node:hover {
    color: black;
}

.tree-item:nth-child(odd) {
    background-color: white;
}

.tree-item:nth-child(even) {
    background-color: lightgray;
}

.tree-item:hover {
    background-color: darkgray;
}

.tree-item:hover i {
    color: lawngreen !important;
}

.right-content {
    padding-left: 0;
    padding-right: 0;
}

.right-content .navbar-inputs {
    background-color: #495057;
    padding: 12px 0 12px 10px;
}

.right-content .navbar-inputs button {
    background-color: #495057;
    color: lightgray;
    border: 2px solid lightgray;
    border-radius: 5px;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.right-content .navbar-inputs button:hover {
    background-color: lawngreen;
    color: #495057;
    border: 2px solid lawngreen;
}

.more {
    position: absolute;
    right: 10px;
}

.buttons {
    position: absolute;
    right: 10px;
}

.buttons .button {
    font-size: 18px;
}

.buttons span {
    height: 25px;
    border: none;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
    font-size: 15px;
}

.links {
    background-color: #495057;
    height: 100vh;
    color: lightgray;
    padding: 0;
    z-index: 999;
}

.links > div > div {
    padding: 10px;
    transition: background-color 0.5s ease-in;
    cursor: pointer;
}

.links > div > div:hover {
    background-color: lawngreen;
    color: #495057;
}

.active {
    border-left: 2px solid lawngreen;
}

.folder-input {
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    padding: 3px 10px;
}

.input-div {
    margin-right: 20px;
    display: inline-block;
}

.file-form {
    position: relative;
    padding-left: 40px;
}

.file-form p {
    display: inline;
    margin-left: 10px;
    color: lightgray;
}

.file-form label {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    text-align: center;
    font-size: 25px;
    padding: 0;
    margin-top: -3px;
    color: lightgrey;
    cursor: pointer;
}

.file-form label:hover {
    color: lawngreen;
}

input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    opacity: 0;
}

.fa-spinner {
    font-size: 50px;
    color: lawngreen;
    position: fixed;
    z-index: 1000;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
}

.disabled_btn {
    position: relative;
    z-index: 999;
}

.disabled_btn:disabled {
    cursor: not-allowed !important;
}

.disabled_btn:disabled:hover {
    background-color: #495057 !important;
    color: lightgray !important;
    border-color: lightgray !important;
}

.search-input {
    border: 2px solid #495057;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 15px;
    outline: none;
}

.loadMore {
    border: 2px solid #495057;
    border-radius: 5px;
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
    color: #495057;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.loadMore:hover {
    background-color: lawngreen;
    border-color: lawngreen;
}

.drive-directory {
    height: calc(100vh - 60px);
    overflow-y: scroll;
}

@media screen and (max-width: 767px) {
    .drive-directory {
        overflow-y: auto;
    }
}

.input-username {
    height: 21px;
    border: 1px solid #495057;
    margin-top: -1px;
}

.button-check {
    background-color: transparent;
    border: none;
    outline: none;
    height: 25px;
    cursor: pointer;
}

.user-share {
    color: darkgrey;
    font-size: 14px;
    margin-left: 10px;
}